.t1{
    text-align: center;
}
.t2{
    text-align: center;
}
.p{
    text-align: center;
}
.but{
    text-align: center;
}
*{
    background-color: azure;
}
.img{
    text-align: center;
}
.tab{
    text-align: center;
}
.t3{
    text-align: center;
}
.j{
    width: 20%;
}